# Executables
sample_scheduler
sample_include
sample_concurrent
sample_myclass
sample_no_scheduler
mrbc
out/

# hal
#src/hal

# Object files
*.o
*.a

# Mruby bytecode
*.mrb

# backup file
*~
*.bak*

# Mac
.DS_Store
*.dSYM

# doxygen output
html
